<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>My About Page</title>
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
    <link rel="stylesheet" type="text/css" href="../Styles/About1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
      
   </style> 
</head>
<body>
    <div class="main_container">
        <header>
        <div class="menu_container">
            <div class="menu_item">
                <nav>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="About.html">About</a></li> 
							<li><a href="contactUs.html">Contact</a></li>
							<li><a href="userlogin.html">Login</a></li>
							<li><a href="registrationPage.html">Registration</a></li>
			                <div class="dropdown" >
                                <button class="dropbtn" style="border:none;">My Album
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="Mypictures.html">My Pictures</a>
                                    <a href="Myvideos.html">My Videos</a>
                                </div>
                            </div>
                    </ul>
					</nav>
            </div>
            </div>
         </header><!-- End of Header-->
            <!-- Define the content page-->
             <div class ="content_page" >
                 <h4><i>All About Me</i></h4>
                 
                 <span style="text-indent: justify;"> There are many variations of passages of Lorem Ipsum available,
                      but the majority have suffered alteration in some form, 
                      by injected humour, or randomised words which don't look even slightly believable.</span>
                    <br/>
                    <br/>
                    <!-- display the details about me in a table-->
                      <table>
                          <tr>
                              <td>Name</td>
                              <td> Sudha Pongali</td>
                          </tr>
                          <tr>
                              <td>Email</td>
                              <td>Dreamer@gmail.com</td>
                          </tr>
                          <tr>
                              <td>Website</td>
                              <td>www.MyDream.org</td>
                          </tr>
                         
                      </table>
           
               </div>
       
         <footer><!-- footer definition-->
         &copy; Copyrights 2019, All rights reserved
         </footer>
    </div>

</body>
</html>