<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/contactus.css">
    <style>         
                 
    </style>
</head>
<body>
    <div class="main_container">
        <header>
        <div class="menu_container">
            <div class="menu_item">
                <nav>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="About.html">About</a></li> 
							<li><a href="contactUs.html">Contact</a></li>
							<li><a href="userlogin.html">Login</a></li>
							<li><a href="registrationPage.html">Registration</a></li>
			                <div class="dropdown" >
                                <button class="dropbtn" style="border:none;">My Album
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="Mypictures.html">My Pictures</a>
                                    <a href="Myvideos.html">My Videos</a>
                                </div>
                            </div>
                    </ul>
					</nav>
            </div>
            </div>
        </header>
        <!-- define the content page with the form -->
             <div class ="content_page">
                 <h2><center>Contact Us</center></h2>
                    <form>
                        <div class="input-container">
                        <input class="input-field" id="name" type="text" placeholder="Enter your Name">
                        </div>
                        <div class="input-container">
                        <input class="input-field" id = "email" type="email" placeholder="Enter your email">
                       </div>
                       <textarea row="10" cols="50">
                        Type your message
                        </textarea>
                        <br/>
                        <button class="btn" type="submit" align="center">Submit</button>
                    </form>
            </div>
        <footer>
         &copy; Copyrights 2019, All rights reserved
         </footer>
</div>
</body>
</html>