<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>My Pictures</title>
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/pictures.css">
    <style>
    
</style>
</head>
<body>
     <div class="main_container">
        <header>
        <div class="menu_container">
            <div class="menu_item">
                <nav>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="About.html">About</a></li> 
							<li><a href="contactUs.html">Contact</a></li>
							<li><a href="userlogin.html">Login</a></li>
							<li><a href="registrationPage.html">Registration</a></li>
			                <div class="dropdown" >
                                <button class="dropbtn" style="border:none;">My Album
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="Mypictures.html">My Pictures</a>
                                    <a href="Myvideos.html">My Videos</a>
                                </div>
                            </div>
                        </ul>
					</nav>
            </div>
        </div>
        </header>
    <div class="picture-container">
        <h3><center>Welcome to My world of nature !!</center></h3>
        

        <div class="row">
            <div class="column">
                <img src="../Images/img_snow.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
                <img src="../Images/img_forest.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
                <img src="../Images/img_mountains.jpg" alt="Mountains" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="column">
                <img src="../Images/fog-forest-mountain-world-clouds-158672.jpeg" alt="Forest Mountains" style="width:100%">
            </div>
            <div class="column">
                <img src="../Images/pexels-photo-316398.jpeg" alt="Trees" style="width:100%">
            </div>
            <div class="column">
                <img src="../Images/pexels-photo-345522.jpeg" alt="Nature" style="width:100%">
            </div>
        </div>

        <div class="row">
             <div class="column" style="width:50%;">
                <img src="../Images/fall-autumn-red-season.jpg" alt="Forest Mountains" style="width:100%">
            </div>
            <div class="column" style="width:50%;">
                <img src="../Images/pexels-photo-822528.jpeg" alt="Forest Mountains" style="width:100%">
            </div>

        </div>

    </div><!-- closing the picture container-->
     <footer>
         &copy; Copyrights 2019, All rights reserved
    </footer>
</div><!-- closing the main container-->
</body>
</html>