<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
     <link rel="stylesheet" type="text/css" href="../Styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/videos.css">
    <style>
      
    </style>
</head>
<body>
    <div class="main_container">
        <header>
        <div class="menu_container">
            <div class="menu_item">
                <nav>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="About.html">About</a></li> 
							<li><a href="contactUs.html">Contact</a></li>
							<li><a href="userlogin.html">Login</a></li>
							<li><a href="registrationPage.html">Registration</a></li>
			                <div class="dropdown" >
                                <button class="dropbtn" style="border:none;">My Album
                                <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="Mypictures.html">My Pictures</a>
                                    <a href="Myvideos.html">My Videos</a>
                                </div>
                            </div>
                        </ul>
					</nav>
            </div><!-- closing the menu item-->
        </div><!-- closing the menu container-->
        </header>

        <div class="myvideos-container">
             <h3><center>Its all about Mother Nature !!</center></h3>
            <div class="wrapper">
                <div class="box a"> 
                    <h3><center>Glass Ball By the shore</center></h3>
                    <p> There are many variations of passages of Lorem Ipsum available,
                         but the majority have suffered alteration in some form, by injected humour, 
                         or randomised words which don't look even slightly believable.</p>
               
            </div>
            <div class="box b">
                <iframe width="320" height="315" 
                src="../Videos/Glass Ball By The Shore.mp4" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
                </iframe>	
            </div>
            <div class="box c">
                 <iframe width="320" height="315" 
                src="../Videos/Pexels Videos 1093652.mp4" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
                </iframe>	
               <!-- <video src="../Videos/Pexels Videos 1093652.mp4" 
                width = "350"
                height = "315"
                loop muted autoplay
                controls>
                </video> -->
            </div>
            <div class="box d">
                <br/>
                <br/>
                 <h3><center> All About Waves</center></h3>
                    <p> There are many variations of passages of Lorem Ipsum available,
                         but the majority have suffered alteration in some form, by injected humour, 
                         or randomised words which don't look even slightly believable.</p>
                
            </div>
        </div>
         
        </div> 
        <footer>
         &copy; Copyrights 2019, All rights reserved
         </footer>
</div>
</body>
</html>